@charset "utf-8";
/* BGM STORAGE > Huhani(mmia268@gmail.com) */

.lyrics_bottom {
    padding: 10px 0 0 0;
}

.lyrics_notice {
    font-style: italic;
}

.print_lyrics {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    font-family: Calibri,ng;
	 color:#333;
    overflow: auto;
    max-height: 270px;
}

.print_lyrics p{
 margin: 0;
}

.lyrics {
    width: 63%;
    max-width: 600px;
    margin: 4px auto 15px;
    padding: 14px 19px;
    background: #FCFCFC;
    border: 1px solid #DDD;
    border-radius: 3px;
}
