@charset "utf-8";
/* BGM STORAGE > Huhani(mmia268@gmail.com) */

.lyrics_bottom {
    padding: 10px 0 0 0;
}

.print_lyrics {
    font-size: 13px;
    line-height: 1.5;
    font-family: ng;
    max-height: 270px;
}

.print_lyrics p{
 margin: 0;
}

.lyrics {
    margin: 4px auto 15px;
}
